.menu-header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 6rem 0;
}

.our {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 65px/112.5px Montserrat;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    /*font: normal normal normal 65px/112px Montserrat;*/
    letter-spacing: 1.75px;
    /*color: #FFFFFF;*/
    text-transform: uppercase;
    opacity: 1;

}

.menu{
    font: var(--unnamed-font-style-normal) normal bold 72px/112.5px Montserrat;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    /*font: normal normal bold 72px/112px Montserrat;*/
    letter-spacing: 1.94px;
    /*color: #FFFFFF;*/
    text-transform: uppercase;
    opacity: 1;
}

.display-4 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.special-char {
    position: relative;
    font-style: italic;
}

.divider {
    width: 100px;
    height: 3px;
    background: #ff6b00; /* Orange accent */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .display-1 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 1.8rem;
    }
}
